html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

canvas {
  width: 100vw !important;
  height: auto !important;
  background-color: white;
}

@media (min-aspect-ratio: 16/10) {
  canvas {
    width: auto !important;
    height: 100vh !important;
  }
}
